@import '~bootstrap/scss/bootstrap';

.container_img {
    width: 100%;
}

.comic_img {
    object-fit: cover;
    object-position: center;
    height: 295px;
    width: 178px;
}

.my_card {
    min-height: 650px;
}