@use "./variables" as *;

//UTILITIES SELECTOR

.bg_night {
    background-color: $clr_primary;

}


//MAIN ELEMENTS

.my_jumbotron {
    height: 390px;

    img {
        height: 100%;
        width: 100%;
        object-position: 50% 0%;
        object-fit: cover;
    }

}

.main_content {
    position: relative;

    .tag {

        background-color: $clr_extra_options;
        color: $clr_total_light;
        font-size: 20px;
        padding: 15px 25px;
        position: absolute;
        bottom: -25.4px;
        left: 25px;
        z-index: 1;

    }
}

.my_card:hover {
    background: linear-gradient(180deg, rgb(255, 255, 255) 10%, rgba(5, 25, 43, 0) 100%);
    color: white !important;
    text-shadow: 1px 1px 2px black;
    border: none;
    transform: scale(95%);
}