// UTILITY SELECTOR

.fs_13 {
    font-size: 13px;
}

.font_title {
    font-family: 'Poppins', sans-serif;
}

.drop_shadow {
    filter: drop-shadow(3px 4px 6px black);
}

.light_shadow {
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.762));
}


.no-underline a {
    text-decoration: none !important;
}

.no_outline {
    outline: none;
}

.my_button {
    background-color: rgb(61, 61, 61);
}

.fs_25 {
    font-size: 1.2rem;
}

.gray_scale {
    filter: grayscale(1);
}